<!DOCTYPE html>
<html lang="en"
    style="box-sizing: border-box;margin: 0;padding: 0;background-color: #fff;font-size: 16px;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;min-width: 300px;overflow-x: hidden;overflow-y: scroll;text-rendering: optimizeLegibility;-webkit-text-size-adjust: 100%;-moz-text-size-adjust: 100%;text-size-adjust: 100%;">

<head style="box-sizing: inherit;">



    <title style="box-sizing: inherit;">Welcome</title>

</head>

<body
    style="box-sizing: inherit;margin: 0;padding: 0;font-family: BlinkMacSystemFont,-apple-system,&quot;Segoe UI&quot;,Roboto,Oxygen,Ubuntu,Cantarell,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;color: #4a4a4a;font-size: 1em;font-weight: 400;line-height: 1.5;">
    <div class="has-text-centered is-size-2 mx-6"
        style="box-sizing: inherit;margin-left: 3rem!important;margin-right: 3rem!important;font-size: 2.5rem!important;text-align: center!important;">
        <div class="card"
            style="box-sizing: inherit;background-color: #fff;border-radius: .25rem;box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);color: #4a4a4a;max-width: 100%;position: relative;">
            <div
                style="background-color: #3e8ed0; display: flex; justify-content: center!important; align-items: center; ">
                <div style="color:white; font-weight: 600;padding: 1rem 1rem; font-style: italic; font-size: 3rem;">
                    Travel Blog
                </div>
                <div>
                    <img style="width: 2rem; height:2rem;" src="cid:logo" alt="icon">
                </div>
            </div>


            <div class="card-content" style="box-sizing: inherit;background-color: transparent;padding: 1.5rem;">
                <p style="box-sizing: inherit;margin: 0;padding: 0;">Hi </p>
                <p class="has-text-info" style="box-sizing: inherit;margin: 0;padding: 0;color: #3e8ed0!important;">
                    {{username}}</p>

                <p style="box-sizing: inherit;margin: 0;padding: 0;">Your request to <span
                        class="has-text-weight-bold is-italic"
                        style="box-sizing: inherit;font-style: italic!important;font-weight: 700!important;">Reset
                        Password</span></p>

                <p style="box-sizing: inherit;margin: 0;padding: 0;">Please</p>
                <p style="box-sizing: inherit;margin: 0;padding: 0;">Use the <strong
                        style="box-sizing: inherit;color: #363636;font-weight: 700;">link</strong> bellow to reset your
                    password
                </p>
                <a href="{{link}}">Reset Password</a>

                <p class="is-size-4 mt-6 is-italic"
                    style="box-sizing: inherit;margin: 0;padding: 0;margin-top: 3rem!important;font-size: 1.5rem!important;font-style: italic!important;">
                    Please don’t reply to this email. We cannot receive or respond to replies to this email.</p>
            </div>
            <div class="card-footer has-background-info has-text-white p-3"
                style="box-sizing: inherit;background-color: #3e8ed0!important;border-top: 1px solid #ededed;align-items: stretch;display: flex;border-bottom-left-radius: .25rem;border-bottom-right-radius: .25rem;color: #fff!important;padding: .75rem!important; justify-content:center!important;">
                Tell us about yours amazing journies
            </div>
        </div>


    </div>


</body>

</html>