<html>

<head>
    <style></style>
</head>

<body>
    <p>Hi {{username}},</p>

    <p>Welcome to Travel Blog</p>
    
    <p>Your account details</p>
    <p>Use your user to log in to your account</p>
    <p>User: {{username}}</p>
    <p>Email: {{email}}</p>
    <p>Please don’t reply to this email. We cannot receive or respond to replies to this email.</p>

</body>

</html>