<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;margin: 0;padding: 0;background-color: #fff;font-size: 16px;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;min-width: 300px;overflow-x: hidden;overflow-y: scroll;text-rendering: optimizeLegibility;-webkit-text-size-adjust: 100%;-moz-text-size-adjust: 100%;text-size-adjust: 100%;">

<head style="box-sizing: inherit;">
    
    
    
    <title style="box-sizing: inherit;">Welcome</title>

</head>

<body style="box-sizing: inherit;margin: 0;padding: 0;font-family: BlinkMacSystemFont,-apple-system,&quot;Segoe UI&quot;,Roboto,Oxygen,Ubuntu,Cantarell,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;color: #4a4a4a;font-size: 1em;font-weight: 400;line-height: 1.5;">
    <div class="has-text-centered is-size-2 mx-6" style="box-sizing: inherit;margin-left: 3rem!important;margin-right: 3rem!important;font-size: 2.5rem!important;text-align: center!important;">
        <div class="card" style="box-sizing: inherit;background-color: #fff;border-radius: .25rem;box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);color: #4a4a4a;max-width: 100%;position: relative;">
            <div class="card-header  has-background-info " style="box-sizing: inherit;background-color: #3e8ed0!important;align-items: stretch;box-shadow: 0 .125em .25em rgba(10,10,10,.1);display: flex;border-top-left-radius: .25rem;border-top-right-radius: .25rem;">
                <div class="card-header-title has-text-white" style="box-sizing: inherit;align-items: center;color: #fff!important;display: flex;flex-grow: 1;font-weight: 700;padding: .75rem 1rem;">
                    Travel Blog
                </div>
                <div class="card-header-icon" style="box-sizing: inherit;-moz-appearance: none;-webkit-appearance: none;appearance: none;background: 0 0;border: none;color: currentColor;font-family: inherit;font-size: 1em;margin: 0;padding: .75rem 1rem;align-items: center;cursor: pointer;display: flex;justify-content: center;">
                    <span class="icon has-text-warning" style="box-sizing: inherit;font-style: inherit;font-weight: inherit;align-items: center;display: inline-flex;justify-content: center;height: 1.5rem;width: 1.5rem;color: #ffe08a!important;">
                        <i class="fas fa-blog" aria-hidden="true" style="box-sizing: inherit;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;line-height: 1;font-family: &quot;Font Awesome 5 Pro&quot;;font-weight: 900;"></i>
                      </span>
                </div>
            </div>
            <div class="card-content" style="box-sizing: inherit;background-color: transparent;padding: 1.5rem;">
                <p style="box-sizing: inherit;margin: 0;padding: 0;">Hi </p>
                <p class="has-text-info" style="box-sizing: inherit;margin: 0;padding: 0;color: #3e8ed0!important;">{{username}}</p>

                <p style="box-sizing: inherit;margin: 0;padding: 0;">Welcome to <span class="has-text-weight-bold is-italic" style="box-sizing: inherit;font-style: italic!important;font-weight: 700!important;">Travel Blog</span></p>

                <p style="box-sizing: inherit;margin: 0;padding: 0;">Your account details</p>
                <p style="box-sizing: inherit;margin: 0;padding: 0;">Use your <strong style="box-sizing: inherit;color: #363636;font-weight: 700;">user</strong> to log in to your account</p>
                <p style="box-sizing: inherit;margin: 0;padding: 0;">User: <span class="has-text-info" style="box-sizing: inherit;font-style: inherit;font-weight: inherit;color: #3e8ed0!important;">{{username}}</span></p>
                <p style="box-sizing: inherit;margin: 0;padding: 0;">Email: <span class="has-text-info" style="box-sizing: inherit;font-style: inherit;font-weight: inherit;color: #3e8ed0!important;">{{email}}</span></p>
                <p class="is-size-4 mt-6 is-italic" style="box-sizing: inherit;margin: 0;padding: 0;margin-top: 3rem!important;font-size: 1.5rem!important;font-style: italic!important;">Please don’t reply to this email. We cannot receive or respond to replies to this email.</p>
            </div>
            <div class="card-footer has-background-info has-text-white p-3" style="box-sizing: inherit;background-color: #3e8ed0!important;border-top: 1px solid #ededed;align-items: stretch;display: flex;border-bottom-left-radius: .25rem;border-bottom-right-radius: .25rem;color: #fff!important;padding: .75rem!important;">
                Tell us about yours amazing journies
            </div>
        </div>


    </div>


</body>

</html>